#clockContainer {
    position: relative;
    margin: auto;
    height: 31vw;
    width: 30vw;
    background: url(Images/analog-clock.png) no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 15px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 23%;
    top: 27%;
    left: 49.1%;
}
#minute{
    width: 1.7%;
    height: 31%;
    top: 20%;
    left: 49.3%;
}

#second{
    width: 1%;
    height: 37%;
    top: 12%;
    left: 48.9%;
}